@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
  font-family: 'Inter', serif;
}

body {
  margin: 0;
  font-family: 'Inter', serif;
  background-color: whitesmoke;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto 0;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.drawer {
  position: absolute;
  right: 0;
  top: 0;
  width: 385px;
  padding: 50px 30px 50px 30px;
  height: 100%;
  background-color: #FFFFFF;

  .drawer_item {
    width: 325px;
    height: 119px;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    padding: 30px 20px;
  }

  .close_icon {
    cursor: pointer;
  }

  h3 {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  .description {
    width: 150px;
  }

  .price {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }

  .cost_descr {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }

  .cost_price {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

  .cart_divider {
    width: 170px;
    border-bottom: 1px dashed black;
    border-bottom-color: #DFDFDF;
  }

  .cart_button {
    background-color: #9DD458;
    width: 325px;
    height: 55px;
    border-radius: 18px;
    color: #FFFFFF;
    text-align: center;
    padding: 18px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}

header {
  border-bottom: 1px solid #EAEAEA;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerLeft, h3, p {
  margin: 0;
}

.headerTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.headerDescr {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9D9D9D;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.iconCart {
  margin-right: 7px;
}

.content {
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    margin: 0;
  }
}

.search_block {
  width: 215px;
  height: 40px;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 10px;
  align-items: center;

  img {
    margin-right: 10px;
  }

  input {
    border: none;
  }
}

.items {
  width: 210px;
  height: 260px;
  border: 1px solid #F3F3F3;
  border-radius: 30px;
  padding-top: 22px;
  padding-bottom: 32px;
  padding-left: 38px;
  padding-right: 29px;
  transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }

  .items_descr {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 14px;
  }

  .opacity-5 {
    font-size: 12px;
  }

  .price {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }
}

.cards {

  .cards_liked {
    position: absolute;
    cursor: pointer;
  }
}

.plus {
  cursor: pointer;
}

