* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

.container {
    background-color: white;
    max-width: 1080px;
    border-radius: 20px;
    height: 100px;
    margin: 0 auto;
}

